<footer class="site-footer">

  <div class="wrapper">
    <div class="icons-list">
        <ul class="social-media-list">
          {% if site.email %}
          <li class="social-icon">
            <a href="mailto:{{ site.email }}" title="Send me an email" class="fa fa-envelope-o fa-2x"></a>
          </li>
          {% endif %}

          {% if site.philpapers_username %}
          <li class="social-icon">
            <a href="https://philpeople.org/profiles/{{ site.philpapers_username }}" title="Visit my PhilPapers profile" class="ai ai-philpapers ai-2x"></a>
          </li>
          {% endif %}
          
          {% if site.academia_username %}
          <li class="social-icon">
            <a href="https://ucl.academia.edu/{{ site.academia_username }}" title="Visit my Academia page" class="ai ai-academia ai-2x"></a>
          </li>
          {% endif %}
          
          {% if site.twitter_username %}
          <li class="social-icon">
            <a href="https://twitter.com/{{ site.twitter_username }}" title="Follow me on Twitter" class="fa fa-twitter fa-2x"></a>
          </li>
          {% endif %}
          
        </ul>
      </div>
  </div>

</footer>
