<footer class="site-footer">

  <div class="wrapper">
    <div class="icons-list">
        <ul class="social-media-list">
          {% if site.email %}
          <li class="social-icon">
            <a href="mailto:{{ site.email }}" title="Send me an email" class="fa fa-envelope-o fa-2x"></a>
          </li>
          {% endif %}

          {% if site.academia_username %}
          <li class="social-icon">
            <a href="https://cambridge.academia.edu/{{ site.academia_username }}" title="Visit my Academia page" class="ai ai-academia ai-2x"></a>
          </li>
          {% endif %}
        </ul>
      </div>
  </div>

</footer>
