<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}Alexander Greenberg | {{ page.title | escape }}{% else %}{{ site.title | escape }} | Philosophy | Law | Surrey {% endif %}</title>
  <meta name="description" content="Alexander Greenberg is a Lecturer in Law at the University of Surrey">
  <!-- <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->
  <meta name="google-site-verification" content="ZV1WDIq-a0aZanZv1JnGC857df9dJC8yhuMCXT6AlEQ" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
  <link rel="stylesheet" href={{ "/font-awesome/css/font-awesome.min.css" }}>
  <link rel="stylesheet" href={{ "/academicons/css/academicons.css" }}>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91594218-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>
