<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}Alexander Greenberg | {{ page.title | escape }}{% else %}{{ site.title | escape }} | Philosophy | Cambridge{% endif %}</title>
  <meta name="description" content="Alexander Greenberg is a PhD Student in Philosophy at the University of Cambridge">
  <meta name="keywords" content="Alexander Greenberg, Philosophy, Cambridge, Belief, Epistemology, Trinity Hall">
  <meta name="google-site-verification" content="ZV1WDIq-a0aZanZv1JnGC857df9dJC8yhuMCXT6AlEQ" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
  <link rel="stylesheet" href={{ "/font-awesome/css/font-awesome.min.css" }}>
  <link rel="stylesheet" href={{ "/academicons/css/academicons.css" }}>
</head>
