/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    color: black;
}


.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 32px; //Edited because too big initially.
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 28px; //Reduced
    }
}

.post-content {
    font-size: 15px;
    .hidden {
        display: none;
    }
    margin-bottom: $spacing-unit;
    li {
        list-style: circle;
    }
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 18px; //Reduced

        @include media-query($on-laptop) {
            font-size: 16px; //Reduced
        }
    }
}

// This is a class to a) make the social icons inline, b) remove the hover colour, c) increase the padding

.social-icon {
  display: inline;
  padding: 10px 10px 10px 10px;
  a {
    color: black;
  }
}

//profile-picture and picture-frame are an id and a class that move the picture

#profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* filter: grayscale(1); */
  float: right;
  padding-bottom: 5px;
}
.picture-frame {
  height: 200px;
  width: 200px;
  float: right;
  padding: 30px 30px 30px 30px;
}
//The following moves the profile-picture to above the text and centres it if there's less space.
@include media-query($on-palm) {
  #profile-picture {
    float: none;
    display: block;
    padding-bottom: none;
  }
  .picture-frame {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    padding: 0px 30px 20px 30px;
  }
}

.bottom-picture {
  height: 498px;
  width: 600px;
  float: none;
  display: block;
  padding-bottom: 5px;
}
.bottom-picture-frame {
  height: 498px;
  width: 600px;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 30px 30px 30px;
}

//The following class changes bullet points to empty circles.
.questions-list {
  > li {
    list-style: circle;
  }
}
//The following class is for crediting photos
.photo-credit {
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
}
.iefix {
    position:relative;
    z-index:1000;
}
